/*This is the CSS page for our final template.*/

.footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: #795B4F;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
.header {
	height: auto;
	font-weight: italics;
	font-size: 30px;
	text-align: center;
	font-family: 'Roboto Mono', monospace;
	background-color: white;
	color:#2E1D16;
}
h4 {
	font-style: Normal;
	font-size: 18px;
	font-family: 'Roboto Mono', monospace;
	text-align: left;
	color: dimgray;
}
h3 {
	font-size: 30px;
	font-family: 'Oswald', serif;
	color: #7f4f24;
}
p {
	font-size: 15px;
	font-family: 'Roboto Mono', monospace;
}

img {
	float: right;
	margin-right: 5%;
	margin-left: 5%;
}
#button {
	text-align: center;
	font-size: 20px;
	background-color: #504136;
	color: #CFBEB1;
	font-weight: bold;
	padding: 12px;
	width: 20%;
	margin-left: 42%;
}
// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

.oswald-<uniquifier> {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
/*Don't worry about this section yet*/
@media only screen and (max-width: 767px)
{
 .list {
 	border: 2px solid mediumvioletred;
 	float: none;
 	min-width: 90%;
 	margin-left: 10px;
 	margin-bottom: 30px;
 	margin-top: 30px;
 }
 .footer p { /* This is how you add styles for only the p text within the footer. */
	background-color: palevioletred;
	text-align: center;
	font-size: 20px;
	margin-bottom: 0;
}
 iframe {
 	min-width: 90%;
 	margin-right: 10px;
 }
 .caption{
 	font-size:10;
 	font-weight: 200;
 	color: dimgray;
 	text-align:right;
 }
}